<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
			<title>{% block title %}{% endblock title %} - Folk Post</title>
		{% endblock head %}
	

	</head>

	<body>
	<div id="header">
		{% block header %}
			<h1><div class="brand" id="company"><a href="/">
				Folk Post
			</a></div></h1>
		{% endblock header %}
	</div>
	<ul id="navigation">
		
	</ul>

	<div class="wrapper">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
			  <ul class=flashes>
			  {% for message in messages %}
			    <li>{{ message }}</li>
			  {% endfor %}
			  </ul>
			{% endif %}
		{% endwith %}

		{% block content %}{% endblock content %}
	</div>

	<div id="footer">
		{% block footer %}
			<hr>
			<div>website created by <a href="http://web.rowanlupton.com">Rowan Lupton</a></div>
			<div>
			{% if current_user.is_authenticated: %}
				logged in as: {{ current_user.username }}
				<a href="/logout">logout</a>
			{% else: %}
				<a href="/login">login</a>
			{% endif %}
			</div>
		{% endblock footer %}
	</div>
	</body>
</html>