<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
			<title>{% block title %}{% endblock title %} - Folk Post</title>
		{% endblock head %}
	

	</head>

	<body>
	<div id="header">
		{% block header %}
			<h1><div class="brand" id="company"><a href="/">
				Folk Post
			</a></div></h1>
		{% endblock header %}
	</div>
	<ul id="navigation">
		
	</ul>

	<div class="wrapper">
		{% block content %}{% endblock content %}
	</div>

	<div id="footer">
		{% block footer %}
			<div>website created by <a href="http://web.rowanlupton.com">Rowan Lupton</a></div>
		{% endblock footer %}
	</div>
	</body>
</html>