{%extends 'basic.html'%}

{% block title %}index{% endblock title%}
{% block pageCSS %}<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" />{% endblock pageCSS %}

{% block content %}

	<form action="" method="post" name="api" id="filterOptions" class="sans-serif">
    {{ form.csrf_token }}
    <h4>Filter results:</h4>

    {{ form.whichField }}
	  {{ form.searchQuery }}
	  {{ form.filterButton }}
  </form>

	{% for i in items %}
		<p>
			<a href="/items/{{i._id}}">{{i.item}}</a> 
			{% if i.possessor is defined %} 
			with {{ mongo.db.users.find_one({'_id': i.possessor})['name'] }}		
			in {{mongo.db.users.find_one({'_id': i.possessor})['location']}}
			{% else %}
			with ?
			{% endif %}
		</p>
	{% endfor %}

{% endblock content%}