{% extends 'basic.html' %}

{% block title %}
	"{{result.item}}" details
{% endblock title %}

{% block content %}
	<p><b>item:</b> 									{{result.item}}</p>
	<p><b>description:</b> 						{{result.description}}</p>
	<p><b>person who has it:</b> 			{{result.possessor}}</p>
	<p><b>where it is:</b> 						{{result.location}}</p>
	<p><b>who does it belong to:</b> 	{% if result.owner is defined %}
																			{{result.owner}}
																		{% else %}
																			unclaimed 
																		{% endif %}</p>

	<p><a href="{{request.path}}/claim">claim this item</a></p>
	<p><a href="{{request.path}}/update-possessor">is this item with you?</a></p>
	<p><a href="{{request.path}}/delete">delete this item</a></p>

{% endblock %}